.loginWrapper {
    @apply flex justify-center items-start w-full min-h-screen text-white;
  
    padding-top: 5rem;
    background: linear-gradient(-45deg, #1db954, #121212, #0f2027, #1a1a1a);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    overflow: hidden;
  }

.loginCard {
    @apply p-8 rounded-lg shadow-lg w-full max-w-sm backdrop-blur-md;
    background: rgba(0, 0, 0, 0.6); /* Translucent black */
    border: 1px solid rgba(255, 255, 255, 0.1);
}